/*Styling portfolio.html*/

hr{
    color:#4aaaa5;

}
h1{
    color:#4aaaa5;
}

.container1{
    padding:25px;
    box-sizing:border-box;
    margin-top:100px;
    width:960px;
    height:500px;
    background-color: aliceblue;
    align:center;
    margin-left: 250px;
    border-style:solid;
    border-color:grey;
    
}
#one{
    margin-top: 10px;
}
#cric{
    
    position: relative;
    width:150px;
    height:100px;
    padding:10px;
}
#ubun{

    width:150px;
    height:100px;
    padding:10px;
    position: relative;
}
#swim{
    position: relative;
    width:150px;
    height:100px;
    padding:10px;
}
#party{
    position: relative;
    width:150px;
    height:100px;
    padding:10px;
}
#bike{
    position:relative;
    width:150px;
    height:100px;
    padding:10px;

}
h4{
    color:white;
    background-color: #4aaaa5;
    padding:1px; 
    width:149px; 
    text-align: center;
}
#id_cric{    
    margin-top:-55px;
    position: absolute;
    margin-left:10px;
}
#id_ubun{
    margin-top:-55px;
    position: absolute;
    margin-left:184px;

}
#id_swim{
    margin-top:-55px;
    position: absolute;
    margin-left:10px;

}
#id_party{
    margin-top:-55px;
    position: absolute;
    margin-left:184px;

}
#id_bike{
    margin-top:-55px;
    position: absolute;
    margin-left:10px;

}
/* .text1{
    padding:50px;
    left:20px;
    text-align: center;
    margin-bottom:100px;
    background-color:#4aaaa5;
    width:225px;
    height:10px;
    position: absolute;
} */


/*Styling Contact.html*/
#main{
    margin-top:100px;
    width:960px;
    height:500px;
    padding:25px;
    background-color: aliceblue;
    align:center;
    margin-left: 250px;
    border-color: blue;
    border-style:solid;
    border-color:grey;
}
h2{
    color:#4aaaa5;
}
form{
    padding-right:25px;
    padding-top=25px;
}
#fname{
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}
#email{
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}
textarea{
    width:100%;
}
#submit{
    background-color: #4aaaa5;
    font-family:Arial, Helvetica, sans-serif;
}
/*Styling index.html*/
#puppy{
    float:left;
    padding:25px;
}
p{
    text-align: left;
    font-size: 20px;
}
/*Styling footer*/
footer{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    text-align: center;
    background-color: #4aaaa5;
    border-style:solid;
    border-color:grey;
}
#p_footer{
    text-align: center;
    font-size: smaller;
}
/*Styling header*/
#name{
    background-color: #4aaaa5;
    color:white;
    width:500px;
    text-align: center;
    margin-left:250px;
    float:left;
}
#link_header{
    padding-top:25px;
    margin-left:1000px;
    width=500px;
    
    
}
#div_abtMe{
    margin-top:100px;
    width:960px;
    height:500px;
    padding:25px;
    background-color: aliceblue;
    align:center;
    margin-left: 250px;
    border-color: blue;
    border-style:solid;
    border-color:grey;
}
header{
    width:100%;
    position:fixed;
    padding:.25px;
    top:0;
    background-color:#ffffff;
    border-style:solid;
    border-color:grey;
}


body{
    background-color: #cccccc;
 
}
/*Styling href tags*/
a{
    color:#4aaaa5;
    text-decoration-color: #4aaaa5;
    padding:10px;
    text-decoration:none !important;
}

